body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  color: #00a1ab;
  font-size: 5.625rem;
  line-height: 2;
  margin: 30px auto 30px auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #00a1ab;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

p {
  line-height: 2;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

/* Navigation Bar */
.nav-content {
  color: #11999E;
  font-family: 'Montserrat';
  font-size: 1.2rem;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

a.nav-link {
  color: #66BFBF;
}

.colored-section {
  background-color: #E4F9F5;
  padding:auto;
  background-image: url("https://static1.squarespace.com/static/5905340e1b631b489217d165/t/5ea7ccabc7557d3463a2569a/1588055225139/SmithStStore0417_0009.jpg?format=1500w");
  background-repeat: no-repeat;
}

.top-container {
  padding-bottom: 0;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  margin: 100px 0;
}

.footer-container {
  background-color: #E4F9F5;
  padding: 20px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.top-cloud {
  position: absolute;
  right: 100px;
  width: 35%
}

.bottom-cloud {
  position: absolute;
  left: 100px;
  width: 35%
}

.web-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.analytics-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.personal-img {
  width: 15%;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #11999E;
  font-size: 0.75rem;
  padding: 20px 0;
}
